@import "../../../styles/_mixins.scss";

h1 {
  font-family: "Roboto", sans-serif;
}
.login-container {
  @include respond(phone) {
    height: 100vh;
    background: #2e1b3e;
  }
}

.header {
  background-color: #2e1b3e;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #e4e4e4;
  @include respond(phone) {
    justify-content: center;
  }
  .logo-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    @include respond(phone) {
      display: none;
    }
    img {
      width: 20%;
      border-radius: 10px;
    }
  }
}
.header-links-wrapper {
  display: flex;
  gap: 30px;
  ul {
    display: flex;
    gap: 30px;
    list-style-type: none;
    @include respond(phone) {
      padding: 0px;
      gap: 15px;
    }
    li {
      cursor: pointer;
      p {
        @include respond(phone) {
          margin: 0px;
          font-size: 15px;
        }
      }
    }
  }
}
.main-page-wrapper {
  background-color: #2e1b3e;
  height: 90vh;
  display: flex;
  align-items: center;
  padding: 20px;
  @include respond(phone) {
    flex-direction: column;
    height: auto;
  }
}
.side-image-wrapper {
  width: 50%;
  @include respond(phone) {
    width: 100%;
  }
  img {
    width: 70%;
    border-radius: 10px;
    @include respond(phone) {
      width: 100%;
      scale: 0.7;
    }
  }
}
.main-login-content {
  width: 50%;
  @include respond(phone) {
    width: 100%;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 100%;
  }
}
.signUpWrapper,
.loginWrapper {
  width: 550px;
  border: 1px solid #b947ff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  @include respond(phone) {
    width: auto;
  }
  h1 {
    color: #b947ff;
  }
}
.alreadyHaveAccount {
  display: flex;
  align-items: center;
  gap: 20px;
}
.login-label {
  color: white;
  text-align: start;
  width: 100%;
}
