.dark{
    background-color: #b947ff;
    color: white;
    border-radius: 20px;
    padding: 10px 0px 10px 0px;
    width: 100%;
    border: none;
    cursor: pointer;

    
}
.light{
    background-color: white;
    border: 1px solid gray;
    border-radius: 20px;
    width: 100%;
    padding: 10px 0px 10px 0px;
    cursor: pointer;
}