footer {
  background-color: lightgray;
  padding: 5px;
  border-radius: 20px;
  width: 80%;
  display: flex;
  justify-content: center;
  margin-top: auto;

  .paragraph {
    text-align: center;
    color: #b947ff;
    margin: 0;

    a {
      text-decoration: none;
      color: #b947ff;
    }
  }
}
